<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Jussi Säilä</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bxs-home-circle"></i> <span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bxs-user"></i> <span>About Me</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bxs-star"></i> <span>My Resume</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
      <h1>Jussi Säilä</h1>
      <p>I'm <span class="typed" data-typed-items="Developer, Photographer, Tinkerer, Adventurer"></span></p>
      <div class="social-links">
        <a target="_blank" rel="noopener noreferrer" href="https://github.com/Tawga" class="github"><i class="bx bxl-github"></i></a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/jussisaila/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/sailajussi" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <img src="static/img/profile-img.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content">
            
            <p class="fst-italic">
              If you’re going to walk on thin ice, You might as well dance.
            </p>
            <br>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor of Business Administration</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>33</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>saila.jussi@gmail.com</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Tampere, Finland</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>31 December 1990</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Hobbies:</strong> <span>HEMA, Guitar/Bass, Outdoors, SCUBA</span></li>
                </ul>
              </div>
            </div>
            <p class="fst-italic">
              I am a calm and patient individual, which allows me to thrive in collaborative environments and contribute effectively to team
              success. I am comfortable taking responsibility within a group when needed, and I enjoy working both independently and 
              collaboratively. I am highly motivated by personal challenges and pushing my own boundaries. I am a quick learner with a strong 
              ability to grasp and internalize new concepts. I possess a strong interest in new experiences and am not afraid to step outside
              of my comfort zone to learn new things.
            </p>
            <p class="fst-italic">

              I am proficient in web development technologies including HTML, JavaScript, CSS, and React. Additionally,
               my technical skillset encompasses various programming languages such as Python Java and C#.
            </p>
            <p class="fst-italic">
            Holding a BBA in Business Information Systems, I am dedicated to continuous learning and professional development. 
            This is evidenced by my recent completion of several Udemy courses in web development and Python. I am currently enrolled 
            in a 100-day Python coding challenge, and I plan to learn TypeScript next to further strengthen my web development expertise.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->



    <!-- ======= Technical Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Technical Skills</h2>
          <p>
            While the listed technical skills showcase my core strengths, they only represent a snapshot of my broader 
            capabilities and eagerness to learn. I possess a "jack-of-all-trades" mentality, always seeking new opportunities 
            to expand my knowledge and dive into unexplored territories.</p>
        </div>

        <div class="row skills-content">
          <div class="col-lg-6">

            
            <div class="progress">
              <span class="skill">JavaScript <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">REACT <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          
            <div class="progress">
              <span class="skill">Python <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            
            <div class="progress">
              <span class="skill">HTML <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS/SASS <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            
            <div class="progress">
              <span class="skill">C# <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>
        
        <hr>

        <div class="row skills-content">
          <div class="col-lg-6">
            <div class="progress">
              <span class="skill">Photoshop/Lightroom <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="progress">
              <span class="skill">Cinema4D <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <div class="progress">
              <span class="skill">Affinity Designer <i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->


    <!-- ======= Soft Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Soft Skills</h2>
        </div>

        <div class="row skills-content">
          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Teamwork <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Creativity <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Problem Solving <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <div class="progress">
              <span class="skill">Punctuality <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Adaptibility <i class="val">90%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Leadership <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

        <!-- ======= Languages Section ======= -->
        <section id="skills" class="skills section-bg">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>Languages</h2>
            </div>
    
            <div class="row skills-content">
              <div class="col-lg-6">
    
                <div class="progress">
                  <span class="skill">Finnish <i class="val">Native</i></span>
                  <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
    
                <div class="progress">
                  <span class="skill">Swedish <i class="val">Fair</i></span>
                  <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
  
              </div>
    
              <div class="col-lg-6">
                <div class="progress">
                  <span class="skill">English <i class="val">Excellent</i></span>
                  <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
   
              </div>
    
            </div>
    
          </div>
        </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          <p>This section provides an overview of my professional journey, educational background, and ongoing learning pursuits. 
            You'll find information about my recent work experiences, academic qualifications, and the courses I've undertaken to continuously expand my skillset.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6">

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>BBA, Degree Programme in Business Information Systems</h4>
              <h5>2011 - 2016</h5>
              <p><em>Tampere University of Applied Sciences</em></p>
              <p>Focus - Game Development</p>
              <p>Key Learning Outcomes:</p>
              <ul>
                <li>PROGRAMMING SKILLS</li>
                <li>PROJECT SKILLS - Teaching was carried out in modules where core competence was combined with selected themes: project and service business development and multidisciplinarity.
                  Project competence included knowledge of project work models, project planning and management, understanding of project team roles and tasks, managing customer contacts, project management tools, 
                  documentation, and managing versions, changes, and quality.</li>
                <li>TEAM WORKING SKILLS - Working was done in teams, and it was goal-oriented, systematic and effective.</li>
              </ul>
                
            </div>
            <div class="resume-item">
              <h4>Graduate</h4>
              <h5>2006 - 2009</h5>
              <p><em>Hervanta High School, Tampere</em></p>
              <p>Mathematics and IT focus</p>
            </div>

            <h3 class="resume-title">Completed Courses</h3>
            
            <div class="resume-item">
              <h4>100 Days of Code: The Complete Python Pro Bootcamp</h4>
              <h5>12/2023 - 02/2024</h5>
              <p><em>by Dr. Angela Yu, Udemy</em></p>
              <p>The course equipped me with essential tools like Python fundamentals, web development frameworks, and data analysis libraries.</p>
              <p>Through engaging video tutorials and hands-on projects, I solidified my understanding of Python while working on wide arange of applications.
                These projects encompassed various domains, including:
              </p>
              <ul>
                <li>Web development: I delved into the world of web development, gaining the ability to build websites and web applications using eg. Flask and Bootstrap.</li>
                <li>Data science and machine learning: My exploration extended to data science and machine learning, where I learned to utilize powerful libraries such as Pandas, NumPy, and Scikit-learn.</li>
                <li>Game development: I tackled the creation of games like Blackjack, Pong, and Snake.</li>
              </ul>
            </div>

            <div class="resume-item">
              <h4>The Complete 2023 Web Development Bootcamp
              </h4>
              <h5>01/2023 - 03/2023</h5>
              <p><em>by Dr. Angela Yu, Udemy</em></p>
              <p>
                The course covered a vast range of technologies, equipping me with the necessary tools for both front-end and back-end development.
                 I mastered the fundamentals of HTML, CSS, and JavaScript, along with popular frameworks like React and Node.js.
              </p>
              <p>By the end of this intensive course, I not only gained the technical proficiency to build websites, 
                but also the confidence and practical experience to excel in the dynamic field of web development. 
                The curriculum included practical exercises and challenges, allowing me to solidify my understanding.
                This program equipped me with professional best practices, preparing me to thrive in the 
                web development industry, whether as a freelancer, entrepreneur, or aspiring for a junior developer role.
              </p>
            </div>
          

          <h3 class="resume-title">Ongoing Courses</h3>
          <div class="resume-item">
            <h4>The Ultimate React Course 2024: React, Redux &amp; More</h4>
            <h5>07/2023 - Present (~75% Completion)</h5>
            <p><em>by Jonas Schmedtmann, Udemy</em></p>
            <p>
              This comprehensive course curriculum includs in-depth explanations, hands-on projects, 
              and explorations of React's inner workings. The goal is to build strong foundation in React fundamentals, advanced topics like 
              state management and performance optimization, and practical experience with popular libraries like React Router 
              and Redux. 
            </p>
          </div>
          <div class="resume-item">
            <h4>Advanced CSS and Sass: Flexbox, Grid, Animations and More!</h4>
            <h5>11/2023 - Present (~40% Completion)</h5>
            <p><em>by Jonas Schmedtmann, Udemy</em></p>
            <p>
              This course delves deep into advanced CSS and Sass techniques. 
              By building real-world projects, the goal is to gain proficiency in modern concepts like Flexbox, CSS Grid, and animations. 
              The curriculum also covers advanced selectors, fundamental CSS workings, and Sass implementation for maintainable code. 
            </p>
          </div>

        </div>

          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>

            <div class="resume-item">
              <h4>chief operating officer </h4>
              <h5>11/2019 - Present</h5>
              <p><em>Realest3 Oy</em></p>
              <p>
                At the end of 2019, the CEO of Realest3 Oy resigned, which led to a redistribution of work within the company. 
                As a result, the business was also refocused and the visualization division was discontinued. 
                My responsibilities changed and I became responsible for leading and managing the company's photography division. 
                My responsibilities include solving the daily problems of 15 people, as well as recruiting and training new photographers.
              </p>
              <p class="key-skills">
                 Leadership, Business Management
              </p>
            </div>

            <div class="resume-item">
              <h4>Photographer &amp; ArchViz Specialist</h4>
              <h5>09/2015 - 11/2019</h5>
              <p><em>Realest3D (Realest3 Oy)</em></p>
              <p>
                In the fall of 2015, Mechwise Oy began producing real estate marketing material under the name Realest3D. 
                As a result, my work on IoT projects essentially came to an end and I moved on to doing creative work in photography 
                and image editing.
              </p>
              <p>
                As the business scaled, the company began producing visualization images for the construction segment. 
                My responsibilities included visualizing clients' construction projects before the actual construction phase 
                using 3D modeling software, communicating with clients, and managing projects.
              </p>
              <p class="key-skills">
                 3D-modelling, Photography
              </p>
            </div>

            <div class="resume-item">
              <h4>Software Developer</h4>
              <h5>01/2015 - 09/2015</h5>
              <p><em>Mechwise Oy (Realest3 Oy)</em></p>
              <p>
                At the end of 2014, a company called Mechwise Oy (later Realest3 Oy) was founded based on the CraneTab project. 
                I started working there as a software developer, further developing the simulator I had created in my previous job. 
                I also worked on customer projects for companies such as Varma and Metso.
              </p>
              <p class="key-skills">
                Programming (C#), 3D-modelling, Texturing
              </p>
            </div>
            <div class="resume-item">
              <h4>Reasearch Assistant</h4>
              <h5>11/2014 - 12/2014</h5>
              <p><em>Tampere University</em></p>
              <p>
                The bridge crane simulator was finalized for the CraneTab project. 
                A second version of the simulator was created that showed how glass can be moved from belt to belt using a crane.
              </p>
              <p class="key-skills">
                Programming (C#), 3D-modelling, Texturing
              </p>
            </div>

            <div class="resume-item">
              <h4>Intern of Administration</h4>
              <h5>03/2014 - 08/2014</h5>
              <p><em>Tampere University of Applied Sciences</em></p>
              <p>
                During my internship, I worked on the visualization part of the CraneTab project. 
                Unity game engine was used to create a simulator for showcasing the different features of the crane and warehouse management system. 
                We modeled Pintos Oy's new factory hall and their reinforcement mesh production process.
              </p>
              <ul>
                <li>The CraneTab project was a collaboration between Pintos Oy, a Finnish steel reinforcement company, and Tampere University.</li>
                <li>The goal of the project was to develop a crane and warehouse management system that would improve the efficiency of Pintos Oy's production process.</li>
                <li>The Unity 3D game engine was used to create a simulator that allows users to test the system in a virtual environment.</li>
              </ul>
              <p class="key-skills">
                Programming (C#), 3D-modelling, Texturing
              </p>
            </div>


          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="social-links">
        <a href="https://github.com/Tawga" class="github"><i class="bx bxl-github"></i></a>
        <a href="https://www.linkedin.com/in/jussisaila/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        <a href="https://www.instagram.com/sailajussi" class="instagram"><i class="bx bxl-instagram"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/typed.js/typed.umd.js"></script>
  <script src="static/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>